@import url("pygment.css");

/*
███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██
*/
$serif-fonts: Merriweather, Times, serif;
$sans-fonts: Open Sans, sans-serif;

/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
$main-color: #61a0ff;
$text-color: #565656;
$h1-color: rgb(67, 70, 73);
$h-color: rgb(79, 83, 87);
$brown: rgb(142, 121, 115);
$cream: rgb(255, 240, 231);
$light: rgb(250, 250, 250);


// Media Queries

$mobile: "(orientation: portrait)";
$tab: "(orientation: landscape) and (max-width: 1200px)";


/*
██████   █████  ███████ ██  ██████
██   ██ ██   ██ ██      ██ ██
██████  ███████ ███████ ██ ██
██   ██ ██   ██      ██ ██ ██
██████  ██   ██ ███████ ██  ██████
*/
body {
	margin: 30px 0px 0px 0px;
	padding: 0;

	color: $text-color;
	background: #fafafa;

	font-family: $sans-fonts;
	font-size: 14px;
}
.summary h2{ color:black; font-size:1.6em; }
h1, h2, h3 {
	margin: 0;
	padding: 0;

	color: #2d3844;

	font-weight: normal;
}

p, ul, ol {
	margin-top: 0;

	line-height: 180%;
}


a {
	text-decoration: none;

	color: $main-color;
}

div#lable{
	position: absolute;

	display: block;
	float: right;

	text-decoration: none;

	font-family: $sans-fonts;
	font-size: 300%;
}

/*
██   ██ ███████  █████  ██████  ███████ ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██   ██ █████   ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
██   ██ ███████ ██   ██ ██████  ███████ ██   ██
*/

#mobile-header{
    display: none;
    #m-logo{
        background: $main-color;
        text-align: center;
        color: $light;
        font-family: $serif-fonts;
		font-weight: lighter;
        a, h1{
            font-weight: lighter;
            font-size: 2em;
            color: $light;
        }
        p{
            padding: 0;
            font-size: 1.2em;
            margin: 0;
        }
    }
    #m-menu{
        position: sticky;
        top: 0;

        padding: 1%;

        background-color: fade-out($light, 0.05);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

        ul{
            margin: 0;

            list-style: none;

            text-align: center;
            padding: 2% 0;

            li{
                display: inline;

                margin-right: 1%;
                margin-left: 1%;
                padding: 0;

                a{
                    text-decoration: none;

                    padding: 1%;

                    color: #444;

                    transition: 0.2s;
                    font-size: 20px;
                    &:hover{
                        color: $main-color;
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                    &:active{
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

    }
}

/*
███████ ██ ██████  ███████ ██████   █████  ██████
██      ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██   ██ █████   ██████  ███████ ██████
     ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██████  ███████ ██████  ██   ██ ██   ██
*/

#sidebar {
	float: left;

	width: 10%;
	margin: 0px;
	padding: 4%;

	text-overflow: clip;

	color: rgba(120, 120, 120, 0.48);
	border-right: 4px solid $main-color;

	&:hover{
		color: rgba(120, 120, 120, 1);
	}

	li.current_page_item {
		border: 2px solid $main-color;
		border-radius: 8px;
		text-align: center;
		a{
			background: none;
		}
	}
	ul {
		margin: 0;
		padding: 0;

		list-style: none;

		color: rgba(120, 120, 120, 0.48);
		&:hover{
			color: rgba(120, 120, 120, 1);
		}
	}
	li {
		margin: 0;
		padding: 0;
		ul {
			margin: 0% 0% 0% 2%;
			padding-bottom: 30px;
		}
		li {
			border-left: none;

			line-height: 35px;
			span {
				display: block;

				margin-top: -20px;
				padding: 0;

				font-size: 11px;
				font-style: italic;
			}
			a {
				padding-left: 4px;

				text-decoration: none;

				color: inherit;
				border-left: 4px solid rgba(0, 0, 0, 0);
				&:hover {
					color: $main-color;
					text-shadow: 0px 0px 2px $main-color;
				}
			}
		}
	}
	h2 {
		height: 32px;

		color: rgba(0, 0, 0, 0.5);

		font-size: 1.2em;
		&:hover{
			color: rgba(48, 61, 92, 0.86);
		}
	}
	p {
		margin: 0 0px;
		padding: 0px 20px 20px 20px;
	}
	a {
		color: rgba(0, 0, 0, 0.5);
		border: none;
		&:hover {
			color: $main-color;
		}
	}
}


/*
██       ██████   ██████   ██████
██      ██    ██ ██       ██    ██
██      ██    ██ ██   ███ ██    ██
██      ██    ██ ██    ██ ██    ██
███████  ██████   ██████   ██████
*/

#logo {
	margin: 0;
	padding: 0;

	color: $main-color;

	h1, p {
		margin: 0%;
		padding: 0%;

		text-align: center;

		font-family: $serif-fonts;
		font-weight: lighter;
	}

	p {
		font-size: 120%;
	}

	h1 {
		color: $main-color;

		font-size: 260%;
	}

	a {
		text-decoration: none;

		color: $main-color;
	}
}

/*
███    ███ ███████ ███    ██ ██    ██
████  ████ ██      ████   ██ ██    ██
██ ████ ██ █████   ██ ██  ██ ██    ██
██  ██  ██ ██      ██  ██ ██ ██    ██
██      ██ ███████ ██   ████  ██████
*/

#menu {
	width: auto;
	margin: 20px auto 20px auto;
	padding: 0;

	ul {
		margin: 0%;
		padding: 5% 0% 0% 0%;

		list-style: none;

		line-height: normal;
	}

	a {
		display: block;

		width: auto;
		margin: 0.5% 0px;
		padding: 6%;

		text-decoration: none;
		text-transform: capitalize;

		color: $text-color;

		font-family: $sans-fonts;
		font-size: 100%;
		font-weight: normal;
	}

	a:hover, .current_page_item a {
		text-decoration: none;

		color: $main-color;
	}

	.current_page_item a {
		display: block;

		text-decoration: none;

		background-color: lighten($main-color, 25%);
	}
}
/*
██████   █████   ██████  ███████
██   ██ ██   ██ ██       ██
██████  ███████ ██   ███ █████
██      ██   ██ ██    ██ ██
██      ██   ██  ██████  ███████
*/

#page {
	width: 80%;
	margin: 0 auto;

	background: rgb(255, 255, 255);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

	a.tag-list{
		margin-right: 1%;
		padding: 1%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;

		transition: all 0.3s;

		color: rgb(255, 255, 255);
		border-radius: 2px;
		background-color: $main-color;
	}

	a.tag-list:hover{
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	}
	a.tag-list:active{
		color: $main-color;
		border: 1px solid $main-color;
		background-color: rgb(255, 255, 255);
	}
}

/*
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
██      ██    ██ ████   ██    ██    ██      ████   ██    ██
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
*/

#content {
	float: right;

	width: 60%;
	padding: 8% 11% 0% 0%;
}

.post {
	margin-bottom: 10%;

	hr{
		border-style: dotted;
	}

	.title {
		padding: 0%;
		padding-bottom: 2%;

		letter-spacing: -.5px;

		color: $main-color;

		font-family: $serif-fonts;
		font-size: 3.4em;
		font-weight: lighter;
		a {
			color: $main-color;
			border: none;
		}
	}

	.meta {
		margin-bottom: 0px;
		padding: 0% 0% 0% 0%;

		text-align: left;

		font-family: $sans-fonts;
		font-size: 14px;
		font-weight: normal;
		.date {
			float: left;
		}
		.posted {
			float: right;
		}
	}

	img {
		display: block;

	    margin:4%;
		margin-right: auto;
		margin-left: auto;

		width: 90%;

	    border: 10px solid rgb(255, 255, 255);
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		&:hover{
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
		}
	}

	a.readmore {
		padding: 1%;

		color: #fff;
		border-radius: 4px;
		background-color: $main-color;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
		&:hover{
			padding: 1% !important;

			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3) !important;
		}
		&:active{
			padding: 1%;

			box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) !important;
		}

	}
	.summary img{
	    display:none;
	}
	.entry {
		padding: 0px 0px 20px 0px;

		text-align: justify;

		color: $text-color;
		border-bottom: 4px dotted $text-color;

		font-family: $serif-fonts;
		font-size: 1.4em;
		font-weight: lighter;

		h1 {
			margin-top: 4%;
			margin-bottom: 4%;

			text-align: center;

		    color: $h1-color;

			font-family: $serif-fonts;
			font-size: 2.4em;
			font-weight: normal;
		}
		h2 {
			margin-top: 3%;
			margin-bottom: 3%;

			text-align: left;

		    color: $h-color;

			font-family: $serif-fonts;
		    font-size: 1.9em;
			font-weight: normal;
		}
		h3 {
			margin-top: 3%;
			margin-bottom: 2%;

			text-align: left;

		    color: $h-color;

			font-family: $serif-fonts;
		    font-size: 1.7em;
			font-weight: normal;
		}
		h4 {
			margin-top: 2%;
			margin-bottom: 2%;

			text-align: left;

		    color: $h-color;

			font-family: $serif-fonts;
		    font-size: 1.6em;
			font-weight: normal;
		}
		h5 {
			margin-top: 1%;
			margin-bottom: 2%;

			text-align: left;

			color: $h-color;

			font-family: $serif-fonts;
		    font-size: 1.5em;
			font-weight: normal;
		}
		h6 {
			margin-top: 1%;
			margin-bottom: 2%;

			text-align: left;

			color: $h-color;

			font-family: $serif-fonts;
		    font-size: 1.4em;
			font-weight: normal;
		}
		a {
			transition: all 0.3s;
			&:hover{
				padding: 0.5%;

				color: rgb(255, 255, 255);
				border-radius: 2px;
				background-color: $main-color;
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
			}
			&:active{
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
			}
		}
		dt {
		    font-weight:bold ;
		}
		blockquote{
			margin: 2%;
			margin-top: 5%;
			margin-bottom: 5%;
			padding: 2%;

			color: $brown;
			background-color: $cream;

			border-left: solid 8px $brown;

			font-style: italic;

			&:hover{
				box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
			}

			p {
				margin: 0;
			}

			h1 {
				text-align: left;

				color: inherit;

				font-size: 1.6em;
			}

			h2 {
				color: inherit;

				font-size: 1.5em;
			}

			h3 {
				color: inherit;

				font-size: 1.4em;
			}

			h4 {
				color: inherit;

				font-size: 1.3em;
			}
		}
	}
	h2.title {
	    font-size:2.8em;
	}
}

.highlight{
    overflow: auto;

	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 2.4%;

	border-left: solid 8px $main-color;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

	font-size: 0.8em;
	&:hover{
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
	}
}

.links {
	padding-top: 20px;

	font-size: 12px;
	font-weight: bold;
}


/*
████████  █████   ██████      ██████   █████   ██████  ███████
   ██    ██   ██ ██           ██   ██ ██   ██ ██       ██
   ██    ███████ ██   ███     ██████  ███████ ██   ███ █████
   ██    ██   ██ ██    ██     ██      ██   ██ ██    ██ ██
   ██    ██   ██  ██████      ██      ██   ██  ██████  ███████
*/

ul#tag-page {
	padding-top: 4%;

	list-style: none;

	text-decoration: none;

	li{
		padding-top: 10px;

		font-size: 22px;
		a{
			margin-right: 1%;
			padding: 1%;
			padding-top: 0.5%;
			padding-bottom: 0.5%;

			transition: all 0.3s;

			color: rgb(255, 255, 255);
			border-radius: 2px;
			background-color: $main-color;
		}
		a:hover{
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
		}
		a:active{
			color: $main-color;
			border: 1px solid $main-color;
			background-color: rgb(255, 255, 255);
		}
	}
}

/*
 █████  ██████   ██████ ██   ██ ██ ██    ██ ███████
██   ██ ██   ██ ██      ██   ██ ██ ██    ██ ██
███████ ██████  ██      ███████ ██ ██    ██ █████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██  ██
██   ██ ██   ██  ██████ ██   ██ ██   ████   ███████
*/

div#article-section > div{
	margin: 0px;

	text-align: center;

	font-size: 18px;
}

dl > h2.Archives-title {
	padding-bottom: 2%;

	color: rgb(73, 73, 73);
	border-bottom: 4px solid $main-color;

	font-size: 3em;
	font-family: $sans-fonts;
	font-weight: lighter;
	text-align: center;
}

div#article-section{
	margin: 20px 0px;
	padding: 12px 0px;
	border: 4px solid rgba(0, 0, 0, 0);

	text-align: center;
	&:hover{
		border: 4px solid $main-color;
		border-radius: 8px;
	}

}

div#article-title > a{
	color: $main-color;

	font-family: $sans-fonts;
	font-size: 32px;
	font-weight: lighter;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

#footer {
	text-align: center;

	font-family: $sans-fonts;
	p {
		margin: 0%;
		padding-top: 1.5%;
		padding-bottom: 1.5%;

		text-align: center;
		text-transform: uppercase;

		color: #4b5570;

		font-size: 0.8em;
		line-height: normal;
	}

	a {
		color: #333746;
	}
}

/*
██████  ███████ ███████ ██████   ██████  ███    ██ ███████ ██ ██    ██ ███████
██   ██ ██      ██      ██   ██ ██    ██ ████   ██ ██      ██ ██    ██ ██
██████  █████   ███████ ██████  ██    ██ ██ ██  ██ ███████ ██ ██    ██ █████
██   ██ ██           ██ ██      ██    ██ ██  ██ ██      ██ ██  ██  ██  ██
██   ██ ███████ ███████ ██       ██████  ██   ████ ███████ ██   ████   ███████
*/


@media #{ $mobile }{
    body{
        margin: 0;
        font-size: 12px;
    }
    #sidebar{
        display: none;
    }
    #mobile-header{
        display: initial;
    }
    #page{
        width: auto;
    }
    #content{
        float: none;
        width: auto;
        padding: 8% 2%;
    }
    .entry{
		font-size: 1em;
    }
}

@media #{ $tab }{
    #page{
        width: auto;
    }
    #sidebar{
        width: 15%;
        padding: 2%;
    }
    #content{
        width: 70%;
        padding: 10% 5%;
    }
}
